* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.header{
    width: 1920px;
    height: 44px;
    gap: 24px;
    position: fixed;
background-color: #F5F5F7CC;

}
.text{   display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 44px;
}
.donate{
    width: 1920px;
    height: 52px;
    padding-top:60px;
    padding-bottom: 16px;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donate p{
    width: 675px; 
    height: 20px;
    font-size: 14px;
    color:#1D1D1F;
}
.frame14{
    width: 1920px;
    height: 3850px;
    gap: 12px;
    
}
.frame12{width: 1920px;
    height: 2100px;
    gap: 12px
    ;

}
.background1{
 width: 1920px;
 height: 692px;
 background-image: url(Figure.png);
 display: flex;
 justify-content: center;
 align-items: flex-start;
 text-align: center;
 position: relative;


}
    .father {
  position: absolute;
  width: 405px;
  height: 172px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 150px;
 
}
.son {
  text-align: center;
  color: white;
  width: 405px;
  height: 60px;
  font-size: 52px;
}
.son2 {
  text-align: center;
  width: 405px;
  height: 32px;
  font-size: 24px;
  color: #F5F5F7;
}
.son1{display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 44px;
    background-color: #0071E3;
    border-radius: 20px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-top: 12px;
    gap: 10px;
}.son3{
    width: 68px;
    height: 44px;
    border-radius: 20px;
    border-color: #2997FF;
    border: 1px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-top: 12px;
    color: #2997FF;
    border-style: solid;
}
.huree{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 44px;
    gap: 16px;

}
.frame13{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    width: 1920px;
    height: 1764px;
}
.heseg1{
    width: 942px;
    height: 580px;
}
.heseg2{
    width: 942px;
    height: 580px;
}
.heseg3{
    width: 942px;
    height: 580px;
}
.heseg4{
    width: 942px;
    height: 580px;}
.heseg5{
    width: 942px;
    height: 580px;
}
.heseg6{
    width: 942px;
    height: 580px;
}

.head h1{ width: 405px;
    height: 60px;
    font-size: 52px;
    color:#F5F5F7;
}
.background2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.head{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 405px;
    height: 172px;
        gap: 20px;
    margin-top: -400px;
}
.head p{
    width: 405px;
    height: 32px;
    font-size: 24px;
    color: #F5F5F7;
}
.huree2{
    width: 207px;
    height: 44px;
    gap: 16px;
    display: flex;
}
.ehnih{
    width: 123px;
    height: 44px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-top: 12px;
    background-color: white;
    border-radius: 40px;
}
.daragiih{
    width: 68px;
    height: 44px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-top: 12px;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 40px;
    gap: 10px;
    color: white;
}
.background3{
    position: relative;
    width: 1920px;
    height: 692px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.head3{
    width: 405px;
    height: 164px;
    gap: 16px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 400px;
}
.head3 h1{width: 405px;
    height: 60px;
    font-size: 52px;
    color: black;
}
.head3 p{width: 405px;
    height: 32px;
    font-size: 24px;
    color:black;
}
.head3 a{
    width: 114px;
    height: 44px;
    border-radius: 40px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-top: 12px;
    gap: 10px;
    background-color: #0071E3;
}
.dotor1{
  width: 942px;
    height: 580px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.dot1{
    position: absolute;
     width: 405px;
    height: 164px;
    gap: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -400px;
}
.huree3{    width: 207px;
    height: 44px;
    gap: 16px;
    display: flex;
}
#first{
        width: 123px;
    height: 44px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-top: 12px;
    background-color: #2997FF;
    border-radius: 40px;
    color: white;
}
#second{    width: 68px;
    height: 44px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-top: 12px;
    border: 1px;
    border-style: solid;
    border-color: #2997FF;
    border-radius: 40px;
    gap: 10px;
    color: #2997FF;
}
#dot1-2{
    margin-top: 350px;
}
#dot1-3{
    margin-top: -300px;
}
#dot1-4{
    margin-top: -400px;
}
#dot1-5{
    margin-top: -320px;
}
.scroll-heseg{
    width: 1920px;
    overflow: scroll;
    scroll-behavior: smooth;
    display: flex;
    gap: 24px;
    scrollbar-width: none;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
}
.scroll-item{
    min-width:1250px;
    height: 668px;
    background-color: #1D1D1F;
}
#item1{
background-image: url(napoleon.jpg);
background-size: cover;
}
#item2{
    background-image: url(bad-monkey.jpg);
    background-size: cover;
}
#item3{
    background-image: url(instigators.jpg);
    background-size: cover;
}
#item4{
    background-image: url(k-pop-idols.jpg);
    background-size: cover;
}
#item5{
    background-image: url(season-pass.jpg);
    background-size: cover;
}
#item6{
    background-image: url(pressumed-innocent.jpg);
    background-size: cover;
}
#item7{
    background-image: url(pachinko.jpg);
    background-size: cover;
}
#item8{
    background-image: url(baseball.jpg);
    background-size: cover;
}
#item9{
    background-image: url(lady-in-the-lake.jpg);
    background-size: cover;
}
#item10{
    background-image: url(morning-show.jpg);
    background-size: cover;
}
.item1-dot{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:gray;
}
.item2-dot{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:gray;
}
.item3-dot{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:gray;
}
.item4-dot{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:gray;
}
.item5-dot{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:gray;
}
.item6-dot{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:gray;
}
.item7-dot{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:gray;
}
.item8-dot{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:gray;
}
.item9-dot{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:gray;
}
.item10-dot{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:gray;
}
.steam{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding-top :590px;
    padding-left: 50px;
}
.steam-in{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 133px;
              height: 44px;
              padding-left: 20px;
              padding-bottom: 12px;
              padding-right: 20px;
              padding-top: 12px;
              gap: 10px;
              background-color:  #f5f5f7;
              border-radius: 40px;
              font-size: 17px;
}
.steam h3{
padding-left: 20px
    ;
    color: white;
}
.animation{
 width: 90%;
 display: flex;
}
.group{
           display: flex;
    width: 10000px;
    gap: 10px;
    padding:10px
    ;
    animation: spin 90s infinite linear;
}
#zurag1{
    background-image: url(1.jpg);
    background-size: cover;
}
#zurag2{
    background-image: url(2.jpg);
        background-size: cover;
}
#zurag3{
    background-image: url(3.jpg);
        background-size: cover;
}
#zurag4{
    background-image: url(4.jpg);
        background-size: cover;     
}
#zurag5{
    background-image: url(5.jpg);
        background-size: cover;

}
#zurag6{
    background-image: url(6.jpg);
        background-size: cover;
}
#zurag7{
    background-image: url(7.jpg);
        background-size: cover;
}
#zurag8{
    background-image: url(8.jpg);
        background-size: cover;
}
#zurag9{
    background-image: url(9.jpg);
        background-size: cover;
}
#zurag10{
    background-image: url(10.jpg);
        background-size: cover;
}
.slider {
  width: 417px;
  height: 236px;
}
@keyframes spin{
  from { translate: 0;
  }
  to { translate: -100%;
  }
}