* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.header{
    width: 1920px;
    height: 44px;
    gap: 24px;
    position: fixed;
background-color: #F5F5F7CC;

}
.text{   display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 44px;
}
.donate{
    width: 1920px;
    height: 52px;
    padding-top:60px;
    padding-bottom: 16px;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donate p{
    width: 675px; 
    height: 20px;
    font-size: 14px;
    color:#1D1D1F;
}
.frame14{
    width: 1920px;
    height: 4880px;
    gap: 12px;
    
}
.frame12{width: 1920px;
    height: 2100px;
    gap: 12px
    ;

}
.background1{
 width: 1920px;
 height: 692px;
 background-image: url(Figure.png);
 display: flex;
 justify-content: center;
 align-items: flex-start;
 text-align: center;
 position: relative;


}
    .father {
  position: absolute;
  width: 405px;
  height: 172px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 150px;
 
}
.son {
  text-align: center;
  color: white;
  width: 405px;
  height: 60px;
  font-size: 52px;
}
.son2 {
  text-align: center;
  width: 405px;
  height: 32px;
  font-size: 24px;
  color: #F5F5F7;
}
.son1{display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 44px;
    background-color: #0071E3;
    border-radius: 20px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-top: 12px;
    gap: 10px;
}.son3{
    width: 68px;
    height: 44px;
    border-radius: 20px;
    border-color: #2997FF;
    border: 1px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-top: 12px;
    color: #2997FF;
    border-style: solid;
}
.huree{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 44px;
    gap: 16px;

}
.frame13{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    width: 1920px;
    height: 1764px;
}
.heseg1{
    width: 942px;
    height: 580px;
}
.heseg2{
    width: 942px;
    height: 580px;
}
.heseg3{
    width: 942px;
    height: 580px;
}
.heseg4{
    width: 942px;
    height: 580px;}
.heseg5{
    width: 942px;
    height: 580px;
}
.heseg6{
    width: 942px;
    height: 580px;
}

.head h1{ width: 405px;
    height: 60px;
    font-size: 52px;
    color:#F5F5F7;
}
.background2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.head{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 405px;
    height: 172px;
        gap: 20px;
    margin-top: -400px;
}
.head p{
    width: 405px;
    height: 32px;
    font-size: 24px;
    color: #F5F5F7;
}
.huree2{
    width: 207px;
    height: 44px;
    gap: 16px;
    display: flex;
}
.ehnih{
    width: 123px;
    height: 44px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-top: 12px;
    background-color: white;
    border-radius: 40px;
}
.daragiih{
    width: 68px;
    height: 44px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-top: 12px;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 40px;
    gap: 10px;
    color: white;
}
.background3{
    position: relative;
    width: 1920px;
    height: 692px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.head3{
    width: 405px;
    height: 164px;
    gap: 16px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 400px;
}
.head3 h1{width: 405px;
    height: 60px;
    font-size: 52px;
    color: black;
}
.head3 p{width: 405px;
    height: 32px;
    font-size: 24px;
    color:black;
}
.head3 a{
    width: 114px;
    height: 44px;
    border-radius: 40px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-top: 12px;
    gap: 10px;
    background-color: #0071E3;
}
.dotor1{
  width: 942px;
    height: 580px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.dot1{
    position: absolute;
     width: 405px;
    height: 164px;
    gap: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -400px;
}
.huree3{    width: 207px;
    height: 44px;
    gap: 16px;
    display: flex;
}
#first{
        width: 123px;
    height: 44px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-top: 12px;
    background-color: #2997FF;
    border-radius: 40px;
    color: white;
}
#second{    width: 68px;
    height: 44px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-top: 12px;
    border: 1px;
    border-style: solid;
    border-color: #2997FF;
    border-radius: 40px;
    gap: 10px;
    color: #2997FF;
}
#dot1-2{
    margin-top: 350px;
}
#dot1-3{
    margin-top: -300px;
}
#dot1-4{
    margin-top: -400px;
}
#dot1-5{
    margin-top: -320px;
}
